<section layout-margin>
<md-grid-list
md-cols="6" md-cols-xs="3" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
md-row-height-gt-md="1:1" md-row-height="2:2"
md-gutter="12px" md-gutter-gt-sm="8px" >

<md-grid-tile
md-rowspan="2" md-colspan="6">
<md-card flex="100">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Agencies</h2>
        </div>
    </md-toolbar> 
    <md-toolbar layout="row" class="md-hue-3">
                            <div layout="row" class="md-toolbar-tools">
                            <span flex="20">Org Name</span>
                            <span flex="20">Complete?</span>
                              <span flex="20">Invite <md-tooltip md-direction="below">Send an email to an organization allowing them to sign up.</md-tooltip></span>
                              <span flex="20">Remind <md-tooltip md-direction="below">Send a reminder email to an organization who has not signed up yet.</md-tooltip></span>
                              <span flex="20">Revoke Access <md-tooltip md-direction="below">Revoke a signed-up org's access or un-invite an org.</md-tooltip></span>
                            </div>
                        </md-toolbar>
    <md-content flex> 
       
            <md-list>
                    <md-list-item ng-repeat="org in adc.orgs.notPending">
                      <div layout="row" flex="100" class="md-list-item-text">
                          
                        <h3 flex="20">{{org.name}}</h3>
                        <div flex="20"></div>
                        <div flex="20"><md-button ng-hide="{{org.has_password}}" class="md-raised md-primary" ng-click="adc.setInvite(org.id)">Invite</md-button>
                            <md-button ng-show="{{org.has_password}}" class="md-raised md-primary" ng-disabled="true">Invite</md-button></div>
                        <div flex="20"></div>
                        <div flex="20"><md-button ng-show="{{org.has_password}}" class="md-raised md-warn" ng-click="adc.denyOrg(org.id)">Revoke</md-button></div>
                      </div>
                    </md-list-item>
                          <md-list-item ng-repeat="org in adc.orgs.pending">
                                <div layout="row" flex="100" class="md-list-item-text">
                                    
                                  <h3 flex="20">{{org.name}}</h3>
                                  <div flex="20"><md-icon md-svg-icon="vendors/icons/check.svg"></md-icon></div>
                                  <div flex="20"></div>
                                  <div flex="20"><md-button class="md-raised md-primary" ng-click="tac.setRemind(org.id, org.email)">Remind</md-button></div>
                                   <div flex="20"><md-button class="md-raised md-warn" ng-click="tac.denyOrg(org.id)">Deny</md-button></div>
                                </div>
                              </md-list-item>
                  </md-list>
    
    </md-content>
</md-card>


</md-grid-tile>

<md-grid-tile class="gray"
md-rowspan="1" md-colspan="6">
<md-card flex="100">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Upload CSV</h2>
            </div>
        </md-toolbar>
    <md-content flex="100a" layout-margin>
            <input type="file" ng-upload="uploaded_file = $file">
            <md-button>add csv file</md-button>
    </md-content>
    </md-card>
</md-grid-tile>

</md-grid-list>
</section>