<section layout-margin>
<md-grid-list
md-cols="6" md-cols-xs="3" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
md-row-height-gt-md="1:1" md-row-height="2:2"
md-gutter="12px" md-gutter-gt-sm="8px" >

<md-grid-tile
md-rowspan="1" md-colspan="3">
<md-card flex="100">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">All Agencies</h2>
        </div>
    </md-toolbar>
<md-content flex layout-margin>
    <ul ng-repeat="org in adc.orgs.all">
        <li>{{org.name}}</li>
    </ul>
</md-content>
</md-card>
</md-grid-tile>

<md-grid-tile class="gray"
md-rowspan="3" md-colspan="3">
<md-card flex="100">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Current Agency Profiles</h2>
            </div>
        </md-toolbar>
    <md-content flex layout-margin>
        so much content
    </md-content>
    </md-card>
</md-grid-tile>

<md-grid-tile
md-rowspan="1" md-colspan="3">
<md-card flex="100">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Invited Agencies</h2>
        </div>
    </md-toolbar>
<md-content flex layout-margin>
    <ul ng-repeat="org in adc.orgs.pending">
        <li>{{org.name}}</li>
    </ul>
</md-content>
</md-card>
</md-grid-tile>

<md-grid-tile
md-rowspan="1" md-colspan="3">
<md-card flex="100">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Invite An Agency</h2>
        </div>
    </md-toolbar>
          <md-content layout-padding>
            <div>
              <form name="inviteAgency">
        
                <div layout="row">
                  <md-input-container flex>
                    <label>Contact Name</label>
                    <input ng-model="user.contact">
                  </md-input-container>
                  
                  <md-input-container flex>
                  <label>Agency Name</label>
                  <input ng-model="user.agency">
                </md-input-container>
        
                </div>
        
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="user.email">
                  </md-input-container>

                  <md-button>submit</md-button>
        
                </div>
        
              </form>
            </div>
          </md-content>
</md-card>
</md-grid-tile>

</md-grid-list>
</section>