<section layout-margin>
<md-grid-list
md-cols-xs="6" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="6"
md-row-height-gt-md="1:1" md-row-height="2:2"
md-gutter="12px" md-gutter-gt-sm="8px" >

<md-grid-tile class="gray"
md-rowspan="1" md-colspan="3">
<md-card>
    
</md-card>
<md-grid-tile-footer>
<h3>#1: (1r x 2c)</h3>
</md-grid-tile-footer>
</md-grid-tile>

<md-grid-tile class="gray"
md-rowspan="3" md-colspan="3">
<md-grid-tile-footer>
<h3>#1: (3r x 2c)</h3>
</md-grid-tile-footer>
</md-grid-tile>

<md-grid-tile class="gray"
md-rowspan="1" md-colspan="3">
<md-grid-tile-footer>
<h3>#1: (1r x 2c)</h3>
</md-grid-tile-footer>
</md-grid-tile>

<md-grid-tile class="gray"
md-rowspan="1" md-colspan="3">
<md-grid-tile-footer>
<h3>#1: (1r x 2c)</h3>
</md-grid-tile-footer>
</md-grid-tile>

</md-grid-list>
</section>