<section>
    <p>home view</p>
    <md-button aria-label="gold" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="down">it's gold!</md-tooltip>
        <md-icon md-svg-src="assets/AdFed.gold.svg" aria-label="gold"></md-icon>
    </md-button>
    <md-button aria-label="silver" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="down">it's silver!</md-tooltip>
        <md-icon md-svg-src="assets/AdFed.silver.svg" aria-label="silver"></md-icon>
    </md-button>
    <md-button aria-label="bronze" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="down">it's bronze!</md-tooltip>
        <md-icon md-svg-src="assets/AdFed.bronze.svg" aria-label="bronze"></md-icon>
    </md-button>
</section>