<div layout="column" ng-cloak class="md-inline-form">
        <md-content theme="dark" layout-gt-sm="row" layout-padding>
                <div>
                        <md-input-container>
                                <label>Email</label>
                                <input ng-model="lc.userToLogin.username" type="email">
                        </md-input-container>

                        <md-input-container>
                                <label>Password</label>
                                <input ng-model="lc.userToLogin.password" type="password">
                        </md-input-container>
                        <md-button ng-click="lc.login()">Login</md-button>
                </div>
        </md-content>
        <a href="#">Forgot Password?</a>
</div>