<div>
        <input type="email" name="user" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <md-button>Agency Login</md-button>
</div>
<div layout="row" layout-wrap>
        <input type="text" name="agency-name" placeholder="Enter Your Organization Name" flex="30">
        <input type="url" name="agency-site" placeholder="Enter Your Organization Website" flex="30">
        <input type="text" name="logo-link" placeholder="Paste The URL to Your Logo" flex="30">
        <input type="textarea" bame="agency-bio" placeholder="Enter Your Agency Bio" flex="50">
        <md-button flex>Save Changes</md-button>
    </div>