<section ng-if="vm.show">
   <div layout="column">
        <h2>Register</h2>
        <h3>{{rc.org.name}}</h3>
        <md-input-container>
            <input type="email" placeholder="email" ng-model="rc.org.newEmail">
        </md-input-container>
        <md-input-container>
            <input type="password" placeholder="password" ng-model="rc.org.password">
        </md-input-container>
        <md-button class="md-raised md-warn" ng-click="rc.orgRegister()">Register Admin</md-button>
    </div>
</section>