<section layout="column">
    <p>TEST AUTH VIEW - NOT AUTH VIEW</p>

    <div layout="row" layout-align="center center">
        <div flex="25" layout="column">
            <h2>Admin Login</h2>
            <md-input-container>
                <input type="text" placeholder="username" ng-model="tac.admin.username">
            </md-input-container>
            <md-input-container>
                <input type="password" placeholder="password" ng-model="tac.admin.password">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="tac.adminLogin()">Login as Admin</md-button>
            <md-button class="md-raised md-warn" ng-click="tac.adminRegister()">Register Admin</md-button>
        </div>
        <div flex="10" style="min-height: 300px;">
            <md-button class="md-raised" style="background-color: purple; color: white;" ng-click="tac.logout()">Logout</md-button>
            <md-button class="md-raised" style="background-color: rgb(25, 216, 175); color: white;" ng-click="tac.getUser()">User Info</md-button>
        </div>
        <div flex="25" layout="column">
            <h2>Organization Login</h2>
            <md-input-container>
                <input type="text" placeholder="username" ng-model="tac.user.username">
            </md-input-container>
            <md-input-container>
                <input type="password" placeholder="password" ng-model="tac.user.password">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="tac.orgLogin()">Login as Org</md-button>
            <md-button class="md-raised md-warn" ng-click="tac.orgRegister()">Register Org</md-button>
        </div>
    </div>

</section>