<div layout="row" styles="min-height:100%"ng-cloak>

    <!-- side nav view -->
    <md-whiteframe flex="30" class="md-whiteframe-4dp"`>

        <!-- logo container -->
        <md-toolbar layout-align="center center">
            <md-icon md-svg-src="../assets/AdFed.svg" class="s48" aria-label="AdFed"></md-icon>
            <span>THE SHOW {{wc.yearObj.year.num}}</span>
        </md-toolbar>

        <!-- sidenav content -->
        <md-content layout-margin>
            <!-- toggle groupBy -->
            <div layout="row">
                <md-button ng-click="wc.toggleGroupBy()" class="md-raised" ng-disabled="wc.disableGroupByCategoryBtn">Category</md-button>
                <md-button ng-click="wc.toggleGroupBy()" class="md-raised" ng-disabled="wc.disableGroupByOrgBtn">Organization</md-button>
            </div>
            <md-diviver></md-diviver>

            <!-- categories -->
            <div ng-repeat="group in wc.groupBy">
                <hr>
                <div layout="row">
                    <md-list-item flex="100" class="md-no-sticky" ng-click="wc.toggleShowCategory($index)">
                        {{ group.name }}
                        <md-icon>{{ group.show ? "expand_less" : "expand_more" }}</md-icon>
                    </md-list-item>
                </div>
                <!-- winners -->
                <div ng-show="group.show" ng-repeat="winner in group.winners">
                    <md-list-item ng-click="wc.changeWinnerDetails(winner.id)">
                        <div flex="10"></div>
                        <p>{{ winner.name }}</p>
                    </md-list-item>
                </div>
            </div>
        </md-content>
    </md-whiteframe>

    <div flex="70">
        <!-- details view -->
        <md-content layout-padding>

            <!-- if addObj is empty, display landing page -->
            <div layout-align="center center" style="background-image: url({{wc.yearObj.year.background}});" ng-if="!wc.adObj.ad">
                <img src="{{wc.yearObj.year.png}}">
            </div>

            <!-- else display ad details -->
            <div ng-if="wc.adObj.ad" layout="column">

                <!-- main info -->
                <div>
                    <p>Award: {{ wc.adObj.ad.award }}</p>
                    <p>Category: {{ wc.adObj.ad.category }}</p>
                    <p>Organization: {{ wc.adObj.ad.organization }}</p>
                </div>

                <!-- credits -->
                <div>
                    Credits:
                    <ul>
                        <li ng-repeat="credit in wc.adObj.ad.credits">{{ credit.title }}: {{ credit.name }}</li>
                    </ul>
                </div>

                <!-- medias -->
                <div layout="row" layout-padding layout-fill>
                    <div layout-padding ng-repeat="media in wc.adObj.ad.medias">
                        <img src="{{ media.url }}">
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>