.gray {
    background: #f5f5f5; 
}

.title {
    float: left;
    text-decoration-style: bold;
}

.socialLogo {
    margin: 2px;
}

.centered {
    margin: auto;
    text-align: center;
}

#orgProfile {
    background-color: gray;
}


  