.gray {
    background: #eee5e5; 
}

.socialLogo {
    margin: 2px;
}

.the-show {
    font-family: 'Baloo Bhai', cursive;
}

.centered {
    margin: auto;
    text-align: center;
}

.bottom-margin-shrink {
    margin-bottom: -10%;
}

.top-margin-shrink {
    margin-top: -4%;
}

.svg {
    height: 100% !important;
    width: 15% !important;
    margin-right: 12px;
}


#orgProfile {
    background-color: gray;
}

.md-wide {
    width: 300px;
}

a:link {
    color: crimson;
    text-decoration: none;
}



  